body {
    font-family: Georgia;
    font-size: 20px;
    background-color: #f9f9f9;
    color: #222;
    line-height: 1.4;
    margin: 0 !important;
    padding: 0 !important;
}

h1 {
    margin: 0 0 .50em;
    text-align: left;
    color: #489869;
}

.continue-reading {
    background: #489869;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    padding: .75em;
    margin: 1.53em 0 .75em;
    display: inline-block;
}

.date {
    font-family: Source Code Pro;
}

.content {
    max-width: 45em;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.155);
}

a {
    color: #489869;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    font-size: 20px;
}

.welcome {
    text-align: center;
    margin: 30px;
}

#personal-description {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

#homepic {
    max-width: 35%;
    display: inline-block;
    float: left;
    margin: 0 20px;
}

table {
	padding: 0;
	margin: 1em;
}

table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
	margin-bottom: 0;
}
