<!doctype html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Adam Hammes</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="sidebar">
             <i id="bars" class="fa fa-bars"></i>
             <div class="sub-container-sidebar">
                  <section itemscope itemtype="http://data-vocabulary.org/Person">
                      <span itemprop="name" class"name">Adam Hammes</span>
                      <br>
                      <span itemprop="title" class="jop">
                            <code>Software Development Student</code>
                      </span>
                  </section>

                  <nav class="nav" >
                      <ul>
                          <li>
                              <a href="/"><i class="fa fa-user"/> About</a>
                          </li>
                          <li>
                              <a href="/projects"><i class="fa fa-code"/> Projects</a>
                          </li>
                          <li>
                              <a href="/blog"><i class="fa fa-pencil"/> Blog</a>
                          </li>
                          <li>
                              <a href="mailto:adam@hammes.io"><i class="fa fa-send-o/> Contact</a>
                          </li>
                      </ul>
                                                                 asdfasdf
                  </nav>
             </div>
