body {
    font-family: Merriweather;
    background-color: 837EB1;
}

.archive {
    width: 45em;
    margin: auto;
}

.archive-entry h1 {
    text-align: center;
}

.entry {
    width: 45em;
    margin: auto;
}

.entry h1 {
    text-align: center;
}
