body {
    font-family: Merriweather;
    background-color: #f9f9f9;
}

h1 {
    margin: 0px;
    text-align: left;
    color: #0000ff;
}

h2 {
    color: #727272;
    font-weight: 700;
}

.archive, .entry {
    width: 45em;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.155);
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
