body {
    font-family: Merriweather;
    background-color: #f9f9f9;
}

h1 {
    color: #0000ff;
}

h2 {
    color: #727272;
}

.archive-entry h1 {
    text-align: center;
}

.archive, .entry {
    width: 45em;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.155);
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width:100%;
    max-height:100%;
}
