.navContainer {
    background: #489869;
    height: 50px;
    line-height: 50px;
    
}

.nav {
    text-align: center;
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

.nav li {
    display: inline-block;
}

.nav li a {
    padding: 14px;
    text-align: center;
    color: #fff;
}
