.navContainer {
    margin-top: 20px;
    display: block;
}

.nav {
    display: table;
    list-style-type: none;
    margin: 0 auto;
}

.nav li {
    float: left;
}

.nav li a {
    padding: 14px 16px;
    text-align: center;
}
