header {
    background: #489869;
    height: 50px;
    line-height: 50px;
}

header ul {
    text-align: center;
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

header li {
    display: inline-block;
}

header li a {
    padding: 14px;
    color: #fff;
}
